//Imports
@import reset
@import typo
@import colors

//General
body
    font:
        family: 'Open Sans', sans-serif
        size: 15px
    line-height: 1.4
ul
    list-style: disc
    padding-left: 1.5rem
/* Grid 
div
    max-width: 62.667rem
    margin: 0 auto
    
// Navbar
nav 
    background: $dark-gray
    padding: 0.667rem 0
    
    p
        color: #fff
        text-align: center

//Main 

//Hero
.hero
    background: pink
    h1
        width: 45rem
        margin: 1rem auto 0
    h4
        margin: 0 auto 1rem
    .video-small, .first-optin
        max-width: 40%
        display: inline-block
        background: lightblue
        margin: 1rem 3%
    .video
        background: red
        height: 10rem
        width: 100%